arize-phoenix
chainlit
chromadb
instructor
llama-index
llama-index-embeddings-bedrock
llama-index-embeddings-ollama
llama-index-experimental
llama-index-llms-bedrock
llama-index-llms-ollama
lxml
matplotlib
numpy<2
opencv-python
pillow
pytesseract
python_dotenv
unstructured[ocr]
unstructured[pdf]
unstructured[pdf-inference]
